<div class="about-content mat-body-1">
  <h1>Antoine Reversat</h1>
  <p>
    I am a system administrator/production engineer/devops engineer (basically I like automating, scaling and debugging
    complex computer systems). I also program (mostly in Python and Rust).
  </p>
  <p>
    Some of my hobbies include flying planes, building physical stuff and tinkering in general.
  </p>
  <p>
    Want to know more ?
  </p>
  <ul>
    <li><a href="https://github.com/crevetor/">Github</a></li>
    <li><a href="https://www.toptal.com/resume/antoine-reversat#locate-solely-qualified-it-engineers">Toptal profile</a>
    </li>
    <li><a href="https://www.linkedin.com/in/antoine-reversat-b194524/">Linkedin</a></li>
  </ul>
</div>